@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
ul,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img,
picture {
max-width: 100%;
display: block;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    font-family: 'Barlow', sans-serif;
}

.main {
    min-width: 20rem;
    max-width: 25rem;
}


.herocontent {
  background-image: url(images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 6.375rem 0.625rem;
}

.middlecontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middlecontent > img {
  width: 88%;
}

.middlecontent > p {
  text-align: center;
  font-family: 'fraunces', serif;
  font-style: italic;
}

.herocontent > * > h2 {
  font-family: 'fraunces', serif;
  font-weight: 700;
  font-size: 1.4em;
}

.toptext, .bottomtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.toptext {
  margin-bottom: 2rem;
  color: #445963;
  text-align: center;
}

.bottomtext {
  margin-top: 2rem;
  color: #463302;
  text-align: center;
}

.bottomtext > h2 {
  background-color: #f0ad03;
  width: 120%;
}

.toptext > h2 {
  background-color: #9fe6f8;
  width: 120%;
}

.bookus {
  margin-top: 2rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookus > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: hsl(0, 2%, 10%);
  font-size: 1.7em;
  margin-bottom: -0.71rem;
  font-weight: 700;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4decf;
  width: 130%;
  border-radius: 20px;
}

.bookus > a:hover {
  background-color: #9fe6f8;
  transition: all 150ms ease-in;
}
/* end of hero */

.cardOnetext, .cardTwotext {
  font-family: 'fraunces', serif;
  text-align: center;
  background-color: #e4decf;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3.3rem 1.8rem;
}

.cardOnetext > h2 {
  font-size: 2em;
  font-weight: 900;
  color: hsl(0, 2%, 10%);
}

.cardOnetext > p {
  font-size: 1em;
  color: hsl(0, 1%, 17%);
}

.cardTwotext > h2 {
  font-size: 2em;
  font-weight: 900;
  color: hsl(0, 2%, 10%);
}

.cardTwotext > p {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 90%;
  font-size: 1em;
  color: hsl(0, 1%, 17%);
}

.cardThree {
  background-image: url(images/cardThree.jpg);
  background-position: center;
  background-size: cover;
}

.cardFour {
  background-image: url(images/cardFour.jpg);
  background-position: center;
  background-size: cover;
}

.cardFive {
  background-image: url(images/cardFive.jpg);
  background-position: center;
  background-size: cover;
}

.cardSix {
  background-image: url(images/cardSix.jpg);
  background-position: center;
  background-size: cover;
}

.cardtext {
  padding: 25rem 2rem 2rem 2rem;
  text-align: center;
  font-family: 'fraunces', serif;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.cardtext > h2 {
  font-size: 1.8em;
  font-weight: 900;
  text-shadow: 1px 1px #6d6d6d;
}

.cardtext > p {
  text-shadow: 1px 1px #6d6d6d;
}

.cardThreetext > h2 {
  color: #fff0f0;
}

.cardThreetext > p {
  color: #e4d6d6;
}

.cardFourtext > h2 {
  color: #fcebcb;
}

.cardFourtext > p {
  color: #f7ebd4;
}

.cardFivetext > h2 {
  color: #ebfafd;
}

.cardFivetext > p {
  color: #f4fdff;
}

.cardSixtext > h2 {
  color: #1a1a1a;
}

.cardSixtext > p {
  color: #1a1a1a;
}
/* end of cards */

.benefits {
  font-family: 'fraunces', serif;
  text-align: center;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #f3eee1;
}

.benefits > h2 {
  color: hsl(0, 3%, 30%);
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 0.07rem;
}

.benefitstext {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: hsl(0, 2%, 18%);
}

.benefitstext > p {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0px 0px 6px hsl(191, 23%, 77%);
  border-radius: 10px;
  padding: 1rem;
}

.benefitstext > p > span {
  font-weight: 900;
  font-size: 1.2em;
}
/* end of benefits */

.advert {
  font-family: 'fraunces', serif;
  background-color: #FF7A48;
  text-align: center;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.advert > h2 {
  text-transform: uppercase;
  color: #fcf9f1;
}

.advert > a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  color: #E03E38;
  font-size: 1.7em;
  margin-bottom: -0.71rem;
  font-weight: 700;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4decf;
  border-radius: 20px;
  width: 60%;
}

.advert > a:hover {
  color: #FF7A48;
  background-color: #f3edde;
}

/* end of advert */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #41BFB3;
  padding: 3rem 3rem 0.5rem;
}

.footer > img {
  width: 60%;
}

.footercontact {
  line-height: 2rem;
}

.footercontact > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #275950;
  font-size: 1.1em;
}

.footercontact > a:hover {
  color: #f0eadb;
}

.footericon {
  padding-top: 0.4rem;
}

.footercontact > a:nth-of-type(1) > span {
  padding-top: 0.4rem;
}

.footer > a {
  text-decoration: none;
  color: #275950;
  margin-top: 2rem;
  font-size: 0.7em;
  display: flex;
  gap: 0.3em;
}

.footer > a > span > img {
  width: 1rem;
}

.footer > a:hover {
  color: #f0eadb;
}
/* end of footer */

@media only screen and (min-width: 600px) {

  .main {
    min-width: 37.5rem;
    max-width: 90rem;
}

  .herocontent {
    background-image: url(images/hero-background-desktop.jpg);
    display: grid;
    grid-template-areas: 
    "right center left"
    "right center left"
    "bottom bottom bottom";
    align-items: center;
    justify-content: center;
  }

  .middlecontent > img {
    width: 70%;
  }

  .herocontent > * > h2 {
    font-size: 1.9em;
  }
  
  .toptext, .bottomtext {
    gap: 9rem;
  }
  
  .toptext {
    grid-area: right;
    margin-bottom: 0rem;
  }
  
  .bottomtext {
    grid-area: left;
    margin-top: 0rem;
  }
  
  .bottomtext > h2 {
    width: 130%;
  }
  
  .toptext > h2 {
    width: 130%;
  }

  .bookus {
    margin-top: 2rem; 
  }
  
  .bookus > a {
    font-size: 2.5em;
    background-color: #e9e4d9;
    width: 40%;
    border-radius: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  /* end of hero */

  .cardOne, .cardTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardTwo > img {
    order: 2;
  }

  .cardOnetext, .cardTwotext {
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3.3rem 5rem;
  }

  .cardOnetext > h2 {
    font-size: 2.7em;
  }
  
  .cardOnetext > p {
    font-size: 1.3em;
  }
  
  .cardTwotext > h2 {
    font-size: 2.7em;
  }
  
  .cardTwotext > p {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 90%;
    font-size: 1.3em;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cardThree {
    background-image: url(images/cardThree_desktop.jpg);
  }

  .cardFour {
    background-image: url(images/cardFour_desktop.jpg);
  }

  .cardFive {
    background-image: url(images/cardFive_desktop.jpg);
  }

  .cardtext {
    padding: 25rem 2rem 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .cardtext > h2 {
    font-size: 2.7em;
    font-weight: 900;
  }
  
  .cardtext > p {
    font-size: 1.3em;
  }
  /* end of cards */

  .benefits {
    padding: 5rem 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
  }
  
  .benefits > h2 {
    font-size: 2.4em;
  }
  
  .benefitstext {
    gap: 3rem;
    width: 60%;
  }
  
  .benefitstext > p {

    gap: 0.5rem;
    padding: 3rem;
    font-size: 1.2em;
  }
  
  .benefitstext > p > span {
    font-size: 1.6em;
  }
  /* end of benefits */

  .advert {
    padding: 8rem 3rem;
    gap: 2.5rem;
  }
  
  .advert > h2 {
    font-size: 2.4em;
  }
  
  .advert > a {
    font-size: 2.7em;
    border-radius: 30px;
    width: 25%;
  }
  
  .advert > a:hover {
    color: #FF7A48;
    background-color: #f3edde;
  }
  /* end of advert */

  .footer {
    padding: 4rem 3rem 0.3rem;
  }
  
  .footer > img {
    width: 20%;
  }
  
  .footercontact {
    line-height: 2.6rem;
  }
  
  .footercontact > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #275950;
    font-size: 1.3em;
  }
  
  .footercontact > a:hover {
    color: #f0eadb;
  }
  
  .footericon {
    padding-top: 0.4rem;
  }
  
  .footercontact > a:nth-of-type(1) > span {
    padding-top: 0.4rem;
  }

  .footer > a {
    color: #275950;
    margin-top: 2rem;
    font-size: 0.7em;
  }

}
